<form class="hotstop_form new_hs" name="add_hotstop" data-hs_id="{{id}}" action="">
    {{> route_selector}}
    {{> direction_selector}}
    {{> stop_selector}}
    <button class="add_hs">Add HotStop</button>
</form>
