<form class="hotstop_form" name="add_hotstop" id="{{this.id}}" method="POST" action="/hotstops/">
    {{> route_selector}}
    {{> direction_selector}}
    {{> stop_selector}}
    <button class="add_hs">Add HotStop</button>
</form>
