{% extends 'base.html' %}
{% block content %}
    <h1>HotStops</h1>
    <button class="new_hs">Add a new HotStop</button>
    <div id="hotstops" class="hotstops">
        {% if vars.hotstops %}
        {% for hotstop in vars.hotstops %}
        <h2 class="hotstop">{{hotstop.route}} - {{hotstop.stop}} - {{hotstop.direction}}</h2>
        <ul id="hotstop_{{hotstop.id}}">
            <li class="route">Route: {{hotstop.route}}</li>
            <li class="stop">Stop: {{hotstop.stop}}</li>
            <li class="direction">{{hotstop.direction}}</li>
            <li class="scheduled">Next Scheduled Trip:
            <span class="loader" data-hsid="{{hotstop.id}}"></span>
            </li>
            <li class="predicted">Next Predicted Actual:
            <span class="loader" data-hsid="{{hotstop.id}}"></span>
            </li>
        </ul>
        {% endfor %}
    {% else %}
    <h2 class="hotstop">No HotStops found for you, madame.</h2>
    {% endif %}
    </div>
{% endblock %}

