<form id=hotstop_form_{{this.next_id}} name="add_hotstop" action="">
<!-- Use in context HotStop -->
<input type="select" name="route_{{this.id}}" id="route_{{this.id}}">
    <option label="Select route..." value="">
    {{if routes}}
    {{#each this.routes}}
    <option selected="{{route.selected}}" label="{{route.description}}" value="{{route.id}}">
    {{/each}}
    {{endif}}
</input>
    <input type="select" name="direction">
    <option label="Select direction..." value="">
    {{# each this.direction}}
    <option label="{{this.direction.text}}" value="{{this.direction.value}}">
    {{/each}}
    </input>
<input type="select" name="stop_{{this.id}}" id="stop_{{this.id}}">
    <option label="Select stop..." value="">
    {{# each this.stop}}
    <option label="{{this.stop.text}}" value="{{this.stop.id}}">
    {{/each}}
    </input>
    <button id=submit_hotstop_{{this.next_id}} class="add_hs">Add HotStop</button>
</form>
